In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
raw_df = pd.read_csv('./data/twitter_user_data.csv', encoding = "ISO-8859-1")
raw_df

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,6.587300e+17,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,815757572,True,golden,259,NaN,female,1.0000,yes,1.0,8/5/15 21:16,...,https://pbs.twimg.com/profile_images/656793310...,0,C0DEED,"@lookupondeath ...Fine, and I'll drink tea too...",NaN,783,10/26/15 13:20,6.587400e+17,Verona ªÁ,NaN
20046,815757681,True,golden,248,NaN,male,1.0000,yes,1.0,8/15/12 21:17,...,https://pbs.twimg.com/profile_images/639815429...,0,0,Greg Hardy you a good player and all but don't...,NaN,13523,10/26/15 12:40,6.587300e+17,"Kansas City, MO",NaN
20047,815757830,True,golden,264,NaN,male,1.0000,yes,1.0,9/3/12 1:17,...,https://pbs.twimg.com/profile_images/655473271...,0,C0DEED,You can miss people and still never want to se...,NaN,26419,10/26/15 13:20,6.587400e+17,Lagos Nigeria,NaN
20048,815757921,True,golden,250,NaN,female,0.8489,yes,1.0,11/6/12 23:46,...,https://pbs.twimg.com/profile_images/657716093...,0,0,@bitemyapp i had noticed your tendency to pee ...,NaN,56073,10/26/15 12:40,6.587300e+17,Texas Hill Country,NaN
20049,815757985,True,golden,249,NaN,female,1.0000,yes,1.0,4/14/14 17:22,...,https://pbs.twimg.com/profile_images/655134724...,0,C0DEED,I think for my APUSH creative project I'm goin...,NaN,2922,10/26/15 13:19,6.587400e+17,NaN,NaN

In [4]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               20050 non-null  int64
 1   _golden                20050 non-null  bool
 2   _unit_state            20050 non-null  object
 3   _trusted_judgments     20050 non-null  int64
 4   _last_judgment_at      20000 non-null  object
 5   gender                 19953 non-null  object
 6   gender:confidence      20024 non-null  float64
 7   profile_yn             20050 non-null  object
 8   profile_yn:confidence  20050 non-null  float64
 9   created                20050 non-null  object
 10  description            16306 non-null  object
 11  fav_number             20050 non-null  int64
 12  gender_gold            50 non-null     object
 13  link_color             20050 non-null  object
 14  name                   20050 non-null  object
 15  profile_yn_gold        50 non-null     object
 16  profileimage           20050 non-null  object
 17  retweet_count          20050 non-null  int64
 18  sidebar_color          20050 non-null  object
 19  text                   20050 non-null  object
 20  tweet_coord            159 non-null    object
 21  tweet_count            20050 non-null  int64
 22  tweet_created          20050 non-null  object
 23  tweet_id               20050 non-null  float64
 24  tweet_location         12565 non-null  object
 25  user_timezone          12252 non-null  object
dtypes: bool(1), float64(3), int64(5), object(17)
memory usage: 3.8+ MB

16306/20050 (~81.3%) accounts has a description

In [3]:
# raw_df.drop_duplicates()
# raw_df

No duplicated row

In [5]:
raw_df.describe()

,_unit_id,_trusted_judgments,gender:confidence,profile_yn:confidence,fav_number,retweet_count,tweet_count,tweet_id
count,2.005000e+04,20050.000000,20024.000000,20050.000000,20050.000000,20050.000000,2.005000e+04,2.005000e+04
mean,8.157294e+08,3.615711,0.882756,0.993221,4382.201646,0.079401,3.892469e+04,6.587350e+17
std,6.000801e+03,12.331890,0.191403,0.047168,12518.575919,2.649751,1.168371e+05,5.000124e+12
min,8.157192e+08,3.000000,0.000000,0.627200,0.000000,0.000000,1.000000e+00,6.587300e+17
25%,8.157243e+08,3.000000,0.677800,1.000000,11.000000,0.000000,2.398000e+03,6.587300e+17
50%,8.157294e+08,3.000000,1.000000,1.000000,456.000000,0.000000,1.144150e+04,6.587300e+17
75%,8.157345e+08,3.000000,1.000000,1.000000,3315.500000,0.000000,4.002750e+04,6.587400e+17
max,8.157580e+08,274.000000,1.000000,1.000000,341621.000000,330.000000,2.680199e+06,6.587400e+17

## 11/09/23 exploration

In [7]:
raw_df['_golden'].value_counts()

False    20000
True        50
Name: _golden, dtype: int64

Only 50 users were included in the gold standard for the model

In [9]:
raw_df['_unit_state'].value_counts()

finalized    20000
golden          50
Name: _unit_state, dtype: int64

In [11]:
# test = lambda x, y: 1 if not x and y=='finalized' or x and y=='golden' else 0

In [13]:
# raw_df['golden_to_unit_state'] = raw_df.apply(lambda x: test(x._golden, x._unit_state), axis=1)

In [14]:
# raw_df['golden_to_unit_state'].value_counts()

1    20050
Name: golden_to_unit_state, dtype: int64

In [15]:
# raw_df = raw_df.drop(['golden_to_unit_state'], axis=1)

Column `_golden` and column `_unit_state` 100% proportionally correlated

In [16]:
raw_df['_trusted_judgments'].value_counts()

3      20000
259        4
245        4
249        4
264        4
260        3
242        3
227        2
235        2
247        2
262        1
273        1
248        1
240        1
212        1
252        1
253        1
271        1
237        1
270        1
239        1
246        1
256        1
274        1
231        1
254        1
261        1
255        1
233        1
228        1
258        1
250        1
Name: _trusted_judgments, dtype: int64

20000 non-golden users get 3, other 50 get different numbers

In [21]:
raw_df['_last_judgment_at'].value_counts()

10/26/15 23:05    217
10/26/15 23:07    205
10/26/15 23:31    182
10/26/15 23:57    181
10/27/15 1:43     169
                 ...
10/27/15 2:29       2
10/27/15 2:21       1
10/27/15 2:48       1
10/27/15 2:17       1
10/27/15 2:18       1
Name: _last_judgment_at, Length: 283, dtype: int64

In [23]:
raw_df['gender'].value_counts()

female     6700
male       6194
brand      5942
unknown    1117
Name: gender, dtype: int64

In [24]:
raw_df['gender'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 20050 entries, 0 to 20049
Series name: gender
Non-Null Count  Dtype
--------------  -----
19953 non-null  object
dtypes: object(1)
memory usage: 156.8+ KB

5 categories for column `gender`: male, female, brand, unknown, NULL

In [28]:
raw_df['gender:confidence'].value_counts().to_dict()

{1.0: 13926,
 0.0: 71,
 0.6691: 31,
 0.6709: 30,
 0.6591: 30,
 0.6667: 30,
 0.6619: 29,
 0.6743: 27,
 0.6686: 27,
 0.6769: 26,
 0.6666: 25,
 0.6678: 24,
 0.6561: 24,
 0.6642: 24,
 0.6715: 24,
 0.6707: 24,
 0.6656: 24,
 0.6752: 24,
 0.6609: 23,
 0.6675: 23,
 0.6685: 22,
 0.6774: 22,
 0.6711: 22,
 0.6645: 22,
 0.6766: 22,
 0.6741: 22,
 0.6674: 21,
 0.6739: 21,
 0.6706: 21,
 0.6659: 21,
 0.6617: 21,
 0.6664: 21,
 0.6796: 20,
 0.6653: 20,
 0.6705: 20,
 0.6587: 20,
 0.6787: 20,
 0.6641: 20,
 0.6866: 20,
 0.6628: 20,
 0.6702: 20,
 0.6742: 20,
 0.6708: 20,
 0.6688: 20,
 0.6611: 19,
 0.6692: 19,
 0.667: 19,
 0.6848: 19,
 0.6698: 19,
 0.6626: 19,
 0.6745: 19,
 0.6634: 19,
 0.6736: 19,
 0.6727: 18,
 0.675: 18,
 0.6801: 18,
 0.6672: 18,
 0.6509: 18,
 0.6655: 18,
 0.6602: 18,
 0.6722: 18,
 0.6723: 18,
 0.6648: 18,
 0.6755: 18,
 0.6734: 17,
 0.6735: 17,
 0.6757: 17,
 0.6684: 17,
 0.6772: 17,
 0.6636: 17,
 0.6829: 17,
 0.6713: 17,
 0.6763: 17,
 0.6638: 17,
 0.6623: 16,
 0.6633: 16,
 0.6818: 16,
 0.6556: 16,
 0.6593: 16,
 0.6768: 16,
 0.6599: 16,
 0.6748: 16,
 0.669: 16,
 0.6671: 16,
 0.6631: 16,
 0.6658: 16,
 0.6567: 16,
 0.6699: 16,
 0.6778: 16,
 0.6695: 16,
 0.6683: 16,
 0.6791: 16,
 0.6643: 16,
 0.676: 15,
 0.6644: 15,
 0.662: 15,
 0.6767: 15,
 0.668: 15,
 0.6651: 15,
 0.6595: 15,
 0.6797: 15,
 0.6726: 15,
 0.6585: 15,
 0.6681: 15,
 0.6663: 15,
 0.6572: 15,
 0.6527: 15,
 0.6583: 15,
 0.6754: 15,
 0.6618: 15,
 0.6615: 15,
 0.6792: 14,
 0.6718: 14,
 0.6785: 14,
 0.6696: 14,
 0.6839: 14,
 0.6714: 14,
 0.6612: 14,
 0.6751: 14,
 0.6822: 14,
 0.6649: 14,
 0.6728: 14,
 0.6589: 14,
 0.6665: 14,
 0.6597: 14,
 0.6576: 14,
 0.6604: 14,
 0.6733: 14,
 0.6764: 14,
 0.661: 14,
 0.6624: 14,
 0.6557: 14,
 0.6578: 14,
 0.6694: 14,
 0.6601: 13,
 0.6761: 13,
 0.6625: 13,
 0.6719: 13,
 0.6802: 13,
 0.6777: 13,
 0.6637: 13,
 0.665: 13,
 0.681: 13,
 0.6575: 13,
 0.6771: 13,
 0.654: 13,
 0.6669: 13,
 0.6788: 13,
 0.6603: 13,
 0.6843: 13,
 0.6598: 13,
 0.6607: 13,
 0.6654: 13,
 0.6621: 13,
 0.6682: 13,
 0.6725: 13,
 0.6697: 12,
 0.6824: 12,
 0.6668: 12,
 0.6629: 12,
 0.6703: 12,
 0.6497: 12,
 0.6677: 12,
 0.65: 12,
 0.6712: 12,
 0.6809: 12,
 0.6716: 12,
 0.6605: 12,
 0.666: 12,
 0.6538: 12,
 0.6759: 12,
 0.6794: 12,
 0.6673: 12,
 0.6717: 12,
 0.6506: 12,
 0.6544: 12,
 0.6543: 12,
 0.6582: 12,
 0.678: 12,
 0.6679: 12,
 0.6815: 11,
 0.6606: 11,
 0.6693: 11,
 0.6475: 11,
 0.6565: 11,
 0.6647: 11,
 0.6581: 11,
 0.6613: 11,
 0.6662: 11,
 0.672: 11,
 0.673: 11,
 0.6676: 11,
 0.6838: 11,
 0.6749: 11,
 0.6701: 11,
 0.6579: 11,
 0.647: 11,
 0.6524: 11,
 0.6782: 10,
 0.674: 10,
 0.6558: 10,
 0.688: 10,
 0.6789: 10,
 0.6635: 10,
 0.6746: 10,
 0.6721: 10,
 0.3449: 10,
 0.6504: 10,
 0.3498: 10,
 0.6646: 10,
 0.6566: 10,
 0.6474: 10,
 0.6525: 10,
 0.6805: 10,
 0.6534: 10,
 0.684: 10,
 0.671: 10,
 0.6889: 10,
 0.6724: 10,
 0.6779: 10,
 0.6773: 10,
 0.6737: 10,
 0.6747: 10,
 0.6432: 10,
 0.6622: 10,
 0.6732: 10,
 0.6744: 10,
 0.6832: 10,
 0.6639: 10,
 0.6704: 10,
 0.6738: 10,
 0.6551: 10,
 0.6811: 9,
 0.6554: 9,
 0.6731: 9,
 0.3471: 9,
 0.6828: 9,
 0.6573: 9,
 0.6825: 9,
 0.6596: 9,
 0.6864: 9,
 0.3403: 9,
 0.6539: 9,
 0.679: 9,
 0.6807: 9,
 0.6584: 9,
 0.6594: 9,
 0.6783: 9,
 0.6471: 9,
 0.6499: 9,
 0.341: 9,
 0.6821: 9,
 0.3462: 9,
 0.6627: 9,
 0.6414: 9,
 0.6516: 9,
 0.6652: 9,
 0.6537: 9,
 0.6592: 9,
 0.6468: 9,
 0.6689: 9,
 0.6555: 9,
 0.6549: 9,
 0.6882: 9,
 0.6608: 9,
 0.6577: 9,
 0.6831: 9,
 0.6588: 9,
 0.3466: 9,
 0.6856: 9,
 0.6894: 9,
 0.6762: 9,
 0.683: 8,
 0.6478: 8,
 0.659: 8,
 0.6786: 8,
 0.6833: 8,
 0.6498: 8,
 0.6657: 8,
 0.6512: 8,
 0.6563: 8,
 0.6753: 8,
 0.66: 8,
 0.656: 8,
 0.6505: 8,
 0.689: 8,
 0.6479: 8,
 0.6661: 8,
 0.6528: 8,
 0.6756: 8,
 0.3448: 8,
 0.663: 8,
 0.6845: 8,
 0.3488: 8,
 0.6835: 8,
 0.6902: 8,
 0.6553: 8,
 0.6758: 8,
 0.6765: 8,
 0.6776: 8,
 0.658: 8,
 0.6812: 8,
 0.6795: 8,
 0.6823: 7,
 0.6729: 7,
 0.6545: 7,
 0.6496: 7,
 0.6559: 7,
 0.6846: 7,
 0.346: 7,
 0.6841: 7,
 0.6547: 7,
 0.3375: 7,
 0.3456: 7,
 0.6519: 7,
 0.3409: 7,
 0.6803: 7,
 0.6483: 7,
 0.3424: 7,
 0.6574: 7,
 0.682: 7,
 0.6879: 7,
 0.664: 7,
 0.6853: 7,
 0.6867: 7,
 0.6804: 7,
 0.686: 7,
 0.3559: 7,
 0.6532: 7,
 0.6568: 7,
 0.6571: 7,
 0.6508: 7,
 0.6494: 7,
 0.6546: 7,
 0.3429: 7,
 0.6798: 7,
 0.685: 7,
 0.6859: 7,
 0.6616: 7,
 0.677: 7,
 0.3507: 7,
 0.3444: 6,
 0.3418: 6,
 0.6425: 6,
 0.6687: 6,
 0.3428: 6,
 0.6632: 6,
 0.6515: 6,
 0.6836: 6,
 0.6502: 6,
 0.6489: 6,
 0.6486: 6,
 0.3372: 6,
 0.635: 6,
 0.6513: 6,
 0.6817: 6,
 0.3388: 6,
 0.3571: 6,
 0.6842: 6,
 0.6493: 6,
 0.6921: 6,
 0.6827: 6,
 0.6814: 6,
 0.3395: 6,
 0.6466: 6,
 0.6569: 6,
 0.644: 6,
 0.6473: 6,
 0.6586: 6,
 0.3472: 6,
 0.6444: 6,
 0.6868: 6,
 0.6501: 6,
 0.3489: 6,
 0.6548: 6,
 0.652: 6,
 0.6784: 6,
 0.6872: 6,
 0.3419: 6,
 0.6874: 6,
 0.6415: 6,
 0.3374: 6,
 0.6455: 6,
 0.6518: 6,
 0.3478: 5,
 0.6445: 5,
 0.3398: 5,
 0.6361: 5,
 0.6861: 5,
 0.3533: 5,
 0.6806: 5,
 0.6477: 5,
 0.6564: 5,
 0.6517: 5,
 0.6386: 5,
 0.3425: 5,
 0.6453: 5,
 0.3473: 5,
 0.3359: 5,
 0.3392: 5,
 0.3527: 5,
 0.335: 5,
 0.6526: 5,
 0.3387: 5,
 0.6536: 5,
 0.3432: 5,
 0.3389: 5,
 0.3546: 5,
 0.3431: 5,
 0.6976: 5,
 0.6552: 5,
 0.6472: 5,
 0.6946: 5,
 0.6404: 5,
 0.3376: 5,
 0.6857: 5,
 0.6562: 5,
 0.3503: 5,
 0.6535: 5,
 0.6456: 5,
 0.3441: 5,
 0.3407: 5,
 0.3521: 5,
 0.3446: 5,
 0.345: 5,
 0.3442: 5,
 0.649: 5,
 0.337: 5,
 0.6507: 5,
 0.3467: 5,
 0.6436: 5,
 0.3539: 5,
 0.6862: 5,
 0.6481: 5,
 0.3493: 5,
 0.6523: 5,
 0.6457: 5,
 0.6465: 5,
 0.3426: 5,
 0.6957: 5,
 0.6403: 5,
 0.3474: 5,
 0.3491: 5,
 0.6488: 5,
 0.3479: 5,
 0.6884: 5,
 0.6896: 5,
 0.6383: 5,
 0.6916: 5,
 0.6614: 5,
 0.3383: 5,
 0.6377: 5,
 0.6875: 5,
 0.6887: 5,
 0.3354: 5,
 0.6927: 5,
 0.6849: 5,
 0.3586: 5,
 0.3476: 5,
 0.6834: 5,
 0.653: 5,
 0.3459: 5,
 0.6899: 5,
 0.3436: 4,
 0.3519: 4,
 0.6854: 4,
 0.6892: 4,
 0.3417: 4,
 0.6442: 4,
 0.6799: 4,
 0.6876: 4,
 0.3408: 4,
 0.6452: 4,
 0.6816: 4,
 0.3435: 4,
 0.6412: 4,
 0.6385: 4,
 0.3384: 4,
 0.6252: 4,
 0.347: 4,
 0.3447: 4,
 0.3517: 4,
 0.3411: 4,
 0.6781: 4,
 0.6427: 4,
 0.6409: 4,
 0.6837: 4,
 0.6905: 4,
 0.338: 4,
 0.67: 4,
 0.3499: 4,
 0.3615: 4,
 0.3438: 4,
 0.6503: 4,
 0.3497: 4,
 0.3592: 4,
 0.3556: 4,
 0.6359: 4,
 0.6476: 4,
 0.6485: 4,
 0.3537: 4,
 0.693: 4,
 0.6903: 4,
 0.3494: 4,
 0.3379: 4,
 0.6924: 4,
 0.6541: 4,
 0.6793: 4,
 0.3404: 4,
 0.34: 4,
 0.6529: 4,
 0.3358: 4,
 0.3399: 4,
 0.6296: 4,
 0.6351: 4,
 0.6459: 4,
 0.3576: 4,
 0.6912: 4,
 0.6855: 4,
 0.6522: 4,
 0.6461: 4,
 0.3363: 4,
 0.68: 4,
 0.6441: 4,
 0.6354: 4,
 0.3373: 4,
 0.6514: 4,
 0.6531: 4,
 0.3402: 4,
 0.6938: 4,
 0.6928: 4,
 0.6808: 4,
 0.3463: 4,
 0.3412: 4,
 0.6775: 4,
 0.3529: 4,
 0.3464: 4,
 0.6819: 4,
 0.3574: 4,
 0.6826: 4,
 0.3538: 3,
 0.6423: 3,
 0.35: 3,
 0.3452: 3,
 0.3443: 3,
 0.6941: 3,
 0.6906: 3,
 0.651: 3,
 0.6844: 3,
 0.6422: 3,
 0.3512: 3,
 0.648: 3,
 0.339: 3,
 0.3469: 3,
 0.3416: 3,
 0.3421: 3,
 0.6917: 3,
 0.6434: 3,
 0.3453: 3,
 0.6429: 3,
 0.6984: 3,
 0.3414: 3,
 0.3391: 3,
 0.6934: 3,
 0.6435: 3,
 0.3413: 3,
 0.6865: 3,
 0.6533: 3,
 0.3477: 3,
 0.3495: 3,
 0.6893: 3,
 0.6464: 3,
 0.6871: 3,
 0.6454: 3,
 0.3502: 3,
 0.3587: 3,
 0.6542: 3,
 0.6813: 3,
 0.3515: 3,
 0.6943: 3,
 0.3353: 3,
 0.3504: 3,
 0.6923: 3,
 0.6418: 3,
 0.3581: 3,
 0.3572: 3,
 0.344: 3,
 0.3482: 3,
 0.692: 3,
 0.6462: 3,
 0.334: 3,
 0.6458: 3,
 0.6266: 3,
 0.336: 3,
 0.6913: 3,
 0.3547: 3,
 0.3516: 3,
 0.697: 3,
 0.6368: 3,
 0.6448: 3,
 0.6937: 3,
 0.3397: 3,
 0.6362: 3,
 0.69: 3,
 0.6492: 3,
 0.3487: 3,
 0.3542: 3,
 0.6967: 3,
 0.6888: 3,
 0.6881: 3,
 0.6487: 3,
 0.3415: 3,
 0.6408: 3,
 0.3369: 3,
 0.348: 3,
 0.3496: 3,
 0.3445: 3,
 0.6437: 3,
 0.3422: 3,
 0.3361: 3,
 0.3439: 3,
 0.6491: 3,
 0.6944: 3,
 0.3691: 3,
 0.646: 3,
 0.3433: 3,
 0.3509: 3,
 0.352: 3,
 0.6394: 3,
 0.355: 3,
 0.3526: 2,
 0.3451: 2,
 0.7037: 2,
 0.6417: 2,
 0.9622: 2,
 0.6851: 2,
 0.645: 2,
 0.3525: 2,
 0.342: 2,
 0.7012: 2,
 0.3548: 2,
 0.6396: 2,
 0.3609: 2,
 0.3223: 2,
 0.6521: 2,
 0.3405: 2,
 0.3348: 2,
 0.6852: 2,
 0.3485: 2,
 0.3434: 2,
 0.3484: 2,
 0.3501: 2,
 0.6348: 2,
 0.6336: 2,
 0.6212: 2,
 0.3579: 2,
 0.6959: 2,
 0.6949: 2,
 0.6858: 2,
 0.3365: 2,
 0.3536: 2,
 0.3577: 2,
 0.6909: 2,
 0.6901: 2,
 0.356: 2,
 0.3423: 2,
 0.6495: 2,
 0.6374: 2,
 0.3367: 2,
 0.3371: 2,
 0.3396: 2,
 0.6904: 2,
 0.6449: 2,
 0.3524: 2,
 0.3541: 2,
 0.3385: 2,
 0.343: 2,
 0.6966: 2,
 0.3275: 2,
 0.6398: 2,
 0.3595: 2,
 0.3455: 2,
 0.3394: 2,
 0.3748: 2,
 0.3475: 2,
 0.3619: 2,
 0.657: 2,
 0.3357: 2,
 0.705: 2,
 0.3532: 2,
 0.36: 2,
 0.6484: 2,
 0.698: 2,
 0.695: 2,
 0.6965: 2,
 0.3567: 2,
 0.3406: 2,
 0.357: 2,
 0.3356: 2,
 0.6349: 2,
 0.3352: 2,
 0.6869: 2,
 0.6897: 2,
 0.3555: 2,
 0.3566: 2,
 0.6366: 2,
 0.6954: 2,
 0.3355: 2,
 0.6914: 2,
 0.694: 2,
 0.6993: 2,
 0.3368: 2,
 0.3362: 2,
 0.6945: 2,
 0.3506: 2,
 0.6413: 2,
 0.3551: 2,
 0.3364: 2,
 0.3531: 2,
 0.6886: 2,
 0.6933: 2,
 0.3486: 2,
 0.6341: 2,
 0.6289: 2,
 0.3582: 2,
 0.3492: 2,
 0.7005: 2,
 0.3604: 2,
 0.6885: 2,
 0.6915: 2,
 0.6469: 2,
 0.3351: 2,
 0.6463: 2,
 0.3505: 2,
 0.6972: 2,
 0.3603: 2,
 0.6877: 2,
 0.6446: 2,
 0.3382: 2,
 0.7002: 2,
 0.3514: 2,
 0.349: 2,
 0.6935: 2,
 0.627: 2,
 0.6983: 2,
 0.3553: 1,
 0.3303: 1,
 0.3641: 1,
 0.6467: 1,
 0.3468: 1,
 0.3709: 1,
 0.3722: 1,
 0.3427: 1,
 0.6342: 1,
 0.6378: 1,
 0.6451: 1,
 0.3656: 1,
 0.6955: 1,
 0.7033: 1,
 0.3649: 1,
 0.6356: 1,
 0.3312: 1,
 0.3458: 1,
 0.6971: 1,
 0.6392: 1,
 0.6929: 1,
 0.6995: 1,
 0.6931: 1,
 0.3593: 1,
 0.6344: 1,
 0.691: 1,
 0.6847: 1,
 0.6936: 1,
 0.3282: 1,
 0.6511: 1,
 0.6381: 1,
 0.3335: 1,
 0.6447: 1,
 0.9636: 1,
 0.3518: 1,
 0.3508: 1,
 0.6397: 1,
 0.3461: 1,
 0.3343: 1,
 0.696: 1,
 0.643: 1,
 0.9612: 1,
 0.7538: 1,
 0.8503: 1,
 0.8458: 1,
 0.8796: 1,
 0.3575: 1,
 0.9613: 1,
 0.765: 1,
 0.6059: 1,
 0.5762: 1,
 0.554: 1,
 0.9618: 1,
 0.5654: 1,
 0.8431: 1,
 0.8397: 1,
 0.8472: 1,
 0.6364: 1,
 0.3617: 1,
 0.6328: 1,
 0.3337: 1,
 0.3457: 1,
 0.3561: 1,
 0.3333: 1,
 0.3601: 1,
 0.3632: 1,
 0.354: 1,
 0.3437: 1,
 0.3613: 1,
 0.351: 1,
 0.3386: 1,
 0.3594: 1,
 0.3623: 1,
 0.631: 1,
 0.3349: 1,
 0.3206: 1,
 0.3616: 1,
 0.6399: 1,
 0.6439: 1,
 0.6298: 1,
 0.3624: 1,
 0.3652: 1,
 0.6365: 1,
 0.3522: 1,
 0.3307: 1,
 0.3483: 1,
 0.3557: 1,
 0.3591: 1,
 0.6326: 1,
 0.6333: 1,
 0.3597: 1,
 0.3573: 1,
 0.3568: 1,
 0.3393: 1,
 0.3596: 1,
 0.6373: 1,
 0.3401: 1,
 0.6379: 1,
 0.3638: 1,
 0.333: 1,
 0.3283: 1,
 0.3286: 1,
 0.3381: 1,
 0.3628: 1,
 0.3625: 1,
 0.6343: 1,
 0.6975: 1,
 0.3268: 1,
 0.3322: 1,
 0.3695: 1,
 0.3481: 1,
 0.6883: 1,
 0.6932: 1,
 0.6391: 1,
 0.3366: 1,
 0.6986: 1,
 0.369: 1,
 0.6372: 1,
 0.375: 1,
 0.3588: 1,
 0.3272: 1,
 0.6424: 1,
 0.6977: 1,
 0.6907: 1,
 0.6873: 1,
 0.365: 1,
 0.3631: 1,
 0.7: 1,
 0.6325: 1,
 0.6321: 1,
 0.6428: 1,
 0.7023: 1,
 0.3639: 1,
 0.3534: 1,
 0.3339: 1,
 0.6322: 1,
 0.3334: 1,
 0.6919: 1,
 0.3311: 1,
 0.3321: 1,
 0.3543: 1,
 0.3622: 1,
 0.3319: 1,
 0.3583: 1,
 0.7049: 1,
 0.6376: 1,
 0.3658: 1,
 0.314: 1,
 0.3378: 1,
 0.3544: 1,
 0.6895: 1,
 0.3269: 1,
 0.6948: 1,
 0.6961: 1,
 0.6401: 1,
 0.6891: 1,
 0.3552: 1,
 0.6911: 1,
 0.6925: 1,
 0.3605: 1,
 0.7047: 1,
 0.3276: 1,
 0.3347: 1,
 0.642: 1,
 0.367: 1,
 0.332: 1,
 0.3634: 1,
 0.353: 1,
 0.3511: 1,
 0.3659: 1,
 0.6323: 1,
 0.6406: 1,
 0.3327: 1,
 0.6363: 1,
 0.6358: 1,
 0.3646: 1,
 0.6878: 1,
 0.8489: 1}

In [29]:
from collections import OrderedDict

In [30]:
OrderedDict(sorted(raw_df['gender:confidence'].value_counts().to_dict().items()))

OrderedDict([(0.0, 71),
             (0.314, 1),
             (0.3206, 1),
             (0.3223, 2),
             (0.3268, 1),
             (0.3269, 1),
             (0.3272, 1),
             (0.3275, 2),
             (0.3276, 1),
             (0.3282, 1),
             (0.3283, 1),
             (0.3286, 1),
             (0.3303, 1),
             (0.3307, 1),
             (0.3311, 1),
             (0.3312, 1),
             (0.3319, 1),
             (0.332, 1),
             (0.3321, 1),
             (0.3322, 1),
             (0.3327, 1),
             (0.333, 1),
             (0.3333, 1),
             (0.3334, 1),
             (0.3335, 1),
             (0.3337, 1),
             (0.3339, 1),
             (0.334, 3),
             (0.3343, 1),
             (0.3347, 1),
             (0.3348, 2),
             (0.3349, 1),
             (0.335, 5),
             (0.3351, 2),
             (0.3352, 2),
             (0.3353, 3),
             (0.3354, 5),
             (0.3355, 2),
             (0.3356, 2),
             (0.3357, 2),
             (0.3358, 4),
             (0.3359, 5),
             (0.336, 3),
             (0.3361, 3),
             (0.3362, 2),
             (0.3363, 4),
             (0.3364, 2),
             (0.3365, 2),
             (0.3366, 1),
             (0.3367, 2),
             (0.3368, 2),
             (0.3369, 3),
             (0.337, 5),
             (0.3371, 2),
             (0.3372, 6),
             (0.3373, 4),
             (0.3374, 6),
             (0.3375, 7),
             (0.3376, 5),
             (0.3378, 1),
             (0.3379, 4),
             (0.338, 4),
             (0.3381, 1),
             (0.3382, 2),
             (0.3383, 5),
             (0.3384, 4),
             (0.3385, 2),
             (0.3386, 1),
             (0.3387, 5),
             (0.3388, 6),
             (0.3389, 5),
             (0.339, 3),
             (0.3391, 3),
             (0.3392, 5),
             (0.3393, 1),
             (0.3394, 2),
             (0.3395, 6),
             (0.3396, 2),
             (0.3397, 3),
             (0.3398, 5),
             (0.3399, 4),
             (0.34, 4),
             (0.3401, 1),
             (0.3402, 4),
             (0.3403, 9),
             (0.3404, 4),
             (0.3405, 2),
             (0.3406, 2),
             (0.3407, 5),
             (0.3408, 4),
             (0.3409, 7),
             (0.341, 9),
             (0.3411, 4),
             (0.3412, 4),
             (0.3413, 3),
             (0.3414, 3),
             (0.3415, 3),
             (0.3416, 3),
             (0.3417, 4),
             (0.3418, 6),
             (0.3419, 6),
             (0.342, 2),
             (0.3421, 3),
             (0.3422, 3),
             (0.3423, 2),
             (0.3424, 7),
             (0.3425, 5),
             (0.3426, 5),
             (0.3427, 1),
             (0.3428, 6),
             (0.3429, 7),
             (0.343, 2),
             (0.3431, 5),
             (0.3432, 5),
             (0.3433, 3),
             (0.3434, 2),
             (0.3435, 4),
             (0.3436, 4),
             (0.3437, 1),
             (0.3438, 4),
             (0.3439, 3),
             (0.344, 3),
             (0.3441, 5),
             (0.3442, 5),
             (0.3443, 3),
             (0.3444, 6),
             (0.3445, 3),
             (0.3446, 5),
             (0.3447, 4),
             (0.3448, 8),
             (0.3449, 10),
             (0.345, 5),
             (0.3451, 2),
             (0.3452, 3),
             (0.3453, 3),
             (0.3455, 2),
             (0.3456, 7),
             (0.3457, 1),
             (0.3458, 1),
             (0.3459, 5),
             (0.346, 7),
             (0.3461, 1),
             (0.3462, 9),
             (0.3463, 4),
             (0.3464, 4),
             (0.3466, 9),
             (0.3467, 5),
             (0.3468, 1),
             (0.3469, 3),
             (0.347, 4),
             (0.3471, 9),
             (0.3472, 6),
             (0.3473, 5),
             (0.3474, 5),
             (0.3475, 2),
             (0.3476, 5),
             (0.3477, 3),
             (0.3478, 5),
             (0.3479, 5),
             (0.348, 3),
             (0.3481, 1),
             (0.3482, 3),
             (0.3483, 1),
             (0.3484, 2),
             (0.3485, 2),
             (0.3486, 2),
             (0.3487, 3),
             (0.3488, 8),
             (0.3489, 6),
             (0.349, 2),
             (0.3491, 5),
             (0.3492, 2),
             (0.3493, 5),
             (0.3494, 4),
             (0.3495, 3),
             (0.3496, 3),
             (0.3497, 4),
             (0.3498, 10),
             (0.3499, 4),
             (0.35, 3),
             (0.3501, 2),
             (0.3502, 3),
             (0.3503, 5),
             (0.3504, 3),
             (0.3505, 2),
             (0.3506, 2),
             (0.3507, 7),
             (0.3508, 1),
             (0.3509, 3),
             (0.351, 1),
             (0.3511, 1),
             (0.3512, 3),
             (0.3514, 2),
             (0.3515, 3),
             (0.3516, 3),
             (0.3517, 4),
             (0.3518, 1),
             (0.3519, 4),
             (0.352, 3),
             (0.3521, 5),
             (0.3522, 1),
             (0.3524, 2),
             (0.3525, 2),
             (0.3526, 2),
             (0.3527, 5),
             (0.3529, 4),
             (0.353, 1),
             (0.3531, 2),
             (0.3532, 2),
             (0.3533, 5),
             (0.3534, 1),
             (0.3536, 2),
             (0.3537, 4),
             (0.3538, 3),
             (0.3539, 5),
             (0.354, 1),
             (0.3541, 2),
             (0.3542, 3),
             (0.3543, 1),
             (0.3544, 1),
             (0.3546, 5),
             (0.3547, 3),
             (0.3548, 2),
             (0.355, 3),
             (0.3551, 2),
             (0.3552, 1),
             (0.3553, 1),
             (0.3555, 2),
             (0.3556, 4),
             (0.3557, 1),
             (0.3559, 7),
             (0.356, 2),
             (0.3561, 1),
             (0.3566, 2),
             (0.3567, 2),
             (0.3568, 1),
             (0.357, 2),
             (0.3571, 6),
             (0.3572, 3),
             (0.3573, 1),
             (0.3574, 4),
             (0.3575, 1),
             (0.3576, 4),
             (0.3577, 2),
             (0.3579, 2),
             (0.3581, 3),
             (0.3582, 2),
             (0.3583, 1),
             (0.3586, 5),
             (0.3587, 3),
             (0.3588, 1),
             (0.3591, 1),
             (0.3592, 4),
             (0.3593, 1),
             (0.3594, 1),
             (0.3595, 2),
             (0.3596, 1),
             (0.3597, 1),
             (0.36, 2),
             (0.3601, 1),
             (0.3603, 2),
             (0.3604, 2),
             (0.3605, 1),
             (0.3609, 2),
             (0.3613, 1),
             (0.3615, 4),
             (0.3616, 1),
             (0.3617, 1),
             (0.3619, 2),
             (0.3622, 1),
             (0.3623, 1),
             (0.3624, 1),
             (0.3625, 1),
             (0.3628, 1),
             (0.3631, 1),
             (0.3632, 1),
             (0.3634, 1),
             (0.3638, 1),
             (0.3639, 1),
             (0.3641, 1),
             (0.3646, 1),
             (0.3649, 1),
             (0.365, 1),
             (0.3652, 1),
             (0.3656, 1),
             (0.3658, 1),
             (0.3659, 1),
             (0.367, 1),
             (0.369, 1),
             (0.3691, 3),
             (0.3695, 1),
             (0.3709, 1),
             (0.3722, 1),
             (0.3748, 2),
             (0.375, 1),
             (0.554, 1),
             (0.5654, 1),
             (0.5762, 1),
             (0.6059, 1),
             (0.6212, 2),
             (0.6252, 4),
             (0.6266, 3),
             (0.627, 2),
             (0.6289, 2),
             (0.6296, 4),
             (0.6298, 1),
             (0.631, 1),
             (0.6321, 1),
             (0.6322, 1),
             (0.6323, 1),
             (0.6325, 1),
             (0.6326, 1),
             (0.6328, 1),
             (0.6333, 1),
             (0.6336, 2),
             (0.6341, 2),
             (0.6342, 1),
             (0.6343, 1),
             (0.6344, 1),
             (0.6348, 2),
             (0.6349, 2),
             (0.635, 6),
             (0.6351, 4),
             (0.6354, 4),
             (0.6356, 1),
             (0.6358, 1),
             (0.6359, 4),
             (0.6361, 5),
             (0.6362, 3),
             (0.6363, 1),
             (0.6364, 1),
             (0.6365, 1),
             (0.6366, 2),
             (0.6368, 3),
             (0.6372, 1),
             (0.6373, 1),
             (0.6374, 2),
             (0.6376, 1),
             (0.6377, 5),
             (0.6378, 1),
             (0.6379, 1),
             (0.6381, 1),
             (0.6383, 5),
             (0.6385, 4),
             (0.6386, 5),
             (0.6391, 1),
             (0.6392, 1),
             (0.6394, 3),
             (0.6396, 2),
             (0.6397, 1),
             (0.6398, 2),
             (0.6399, 1),
             (0.6401, 1),
             (0.6403, 5),
             (0.6404, 5),
             (0.6406, 1),
             (0.6408, 3),
             (0.6409, 4),
             (0.6412, 4),
             (0.6413, 2),
             (0.6414, 9),
             (0.6415, 6),
             (0.6417, 2),
             (0.6418, 3),
             (0.642, 1),
             (0.6422, 3),
             (0.6423, 3),
             (0.6424, 1),
             (0.6425, 6),
             (0.6427, 4),
             (0.6428, 1),
             (0.6429, 3),
             (0.643, 1),
             (0.6432, 10),
             (0.6434, 3),
             (0.6435, 3),
             (0.6436, 5),
             (0.6437, 3),
             (0.6439, 1),
             (0.644, 6),
             (0.6441, 4),
             (0.6442, 4),
             (0.6444, 6),
             (0.6445, 5),
             (0.6446, 2),
             (0.6447, 1),
             (0.6448, 3),
             (0.6449, 2),
             (0.645, 2),
             (0.6451, 1),
             (0.6452, 4),
             (0.6453, 5),
             (0.6454, 3),
             (0.6455, 6),
             (0.6456, 5),
             (0.6457, 5),
             (0.6458, 3),
             (0.6459, 4),
             (0.646, 3),
             (0.6461, 4),
             (0.6462, 3),
             (0.6463, 2),
             (0.6464, 3),
             (0.6465, 5),
             (0.6466, 6),
             (0.6467, 1),
             (0.6468, 9),
             (0.6469, 2),
             (0.647, 11),
             (0.6471, 9),
             (0.6472, 5),
             (0.6473, 6),
             (0.6474, 10),
             (0.6475, 11),
             (0.6476, 4),
             (0.6477, 5),
             (0.6478, 8),
             (0.6479, 8),
             (0.648, 3),
             (0.6481, 5),
             (0.6483, 7),
             (0.6484, 2),
             (0.6485, 4),
             (0.6486, 6),
             (0.6487, 3),
             (0.6488, 5),
             (0.6489, 6),
             (0.649, 5),
             (0.6491, 3),
             (0.6492, 3),
             (0.6493, 6),
             (0.6494, 7),
             (0.6495, 2),
             (0.6496, 7),
             (0.6497, 12),
             (0.6498, 8),
             (0.6499, 9),
             (0.65, 12),
             (0.6501, 6),
             (0.6502, 6),
             (0.6503, 4),
             (0.6504, 10),
             (0.6505, 8),
             (0.6506, 12),
             (0.6507, 5),
             (0.6508, 7),
             (0.6509, 18),
             (0.651, 3),
             (0.6511, 1),
             (0.6512, 8),
             (0.6513, 6),
             (0.6514, 4),
             (0.6515, 6),
             (0.6516, 9),
             (0.6517, 5),
             (0.6518, 6),
             (0.6519, 7),
             (0.652, 6),
             (0.6521, 2),
             (0.6522, 4),
             (0.6523, 5),
             (0.6524, 11),
             (0.6525, 10),
             (0.6526, 5),
             (0.6527, 15),
             (0.6528, 8),
             (0.6529, 4),
             (0.653, 5),
             (0.6531, 4),
             (0.6532, 7),
             (0.6533, 3),
             (0.6534, 10),
             (0.6535, 5),
             (0.6536, 5),
             (0.6537, 9),
             (0.6538, 12),
             (0.6539, 9),
             (0.654, 13),
             (0.6541, 4),
             (0.6542, 3),
             (0.6543, 12),
             (0.6544, 12),
             (0.6545, 7),
             (0.6546, 7),
             (0.6547, 7),
             (0.6548, 6),
             (0.6549, 9),
             (0.6551, 10),
             (0.6552, 5),
             (0.6553, 8),
             (0.6554, 9),
             (0.6555, 9),
             (0.6556, 16),
             (0.6557, 14),
             (0.6558, 10),
             (0.6559, 7),
             (0.656, 8),
             (0.6561, 24),
             (0.6562, 5),
             (0.6563, 8),
             (0.6564, 5),
             (0.6565, 11),
             (0.6566, 10),
             (0.6567, 16),
             (0.6568, 7),
             (0.6569, 6),
             (0.657, 2),
             (0.6571, 7),
             (0.6572, 15),
             (0.6573, 9),
             (0.6574, 7),
             (0.6575, 13),
             (0.6576, 14),
             (0.6577, 9),
             (0.6578, 14),
             (0.6579, 11),
             (0.658, 8),
             (0.6581, 11),
             (0.6582, 12),
             (0.6583, 15),
             (0.6584, 9),
             (0.6585, 15),
             (0.6586, 6),
             (0.6587, 20),
             (0.6588, 9),
             (0.6589, 14),
             (0.659, 8),
             (0.6591, 30),
             (0.6592, 9),
             (0.6593, 16),
             (0.6594, 9),
             (0.6595, 15),
             (0.6596, 9),
             (0.6597, 14),
             (0.6598, 13),
             (0.6599, 16),
             (0.66, 8),
             (0.6601, 13),
             (0.6602, 18),
             (0.6603, 13),
             (0.6604, 14),
             (0.6605, 12),
             (0.6606, 11),
             (0.6607, 13),
             (0.6608, 9),
             (0.6609, 23),
             (0.661, 14),
             (0.6611, 19),
             (0.6612, 14),
             (0.6613, 11),
             (0.6614, 5),
             (0.6615, 15),
             (0.6616, 7),
             (0.6617, 21),
             (0.6618, 15),
             (0.6619, 29),
             (0.662, 15),
             (0.6621, 13),
             (0.6622, 10),
             (0.6623, 16),
             (0.6624, 14),
             (0.6625, 13),
             (0.6626, 19),
             (0.6627, 9),
             (0.6628, 20),
             (0.6629, 12),
             (0.663, 8),
             (0.6631, 16),
             (0.6632, 6),
             (0.6633, 16),
             (0.6634, 19),
             (0.6635, 10),
             (0.6636, 17),
             (0.6637, 13),
             (0.6638, 17),
             (0.6639, 10),
             (0.664, 7),
             (0.6641, 20),
             (0.6642, 24),
             (0.6643, 16),
             (0.6644, 15),
             (0.6645, 22),
             (0.6646, 10),
             (0.6647, 11),
             (0.6648, 18),
             (0.6649, 14),
             (0.665, 13),
             (0.6651, 15),
             (0.6652, 9),
             (0.6653, 20),
             (0.6654, 13),
             (0.6655, 18),
             (0.6656, 24),
             (0.6657, 8),
             (0.6658, 16),
             (0.6659, 21),
             (0.666, 12),
             (0.6661, 8),
             (0.6662, 11),
             (0.6663, 15),
             (0.6664, 21),
             (0.6665, 14),
             (0.6666, 25),
             (0.6667, 30),
             (0.6668, 12),
             (0.6669, 13),
             (0.667, 19),
             (0.6671, 16),
             (0.6672, 18),
             (0.6673, 12),
             (0.6674, 21),
             (0.6675, 23),
             (0.6676, 11),
             (0.6677, 12),
             (0.6678, 24),
             (0.6679, 12),
             (0.668, 15),
             (0.6681, 15),
             (0.6682, 13),
             (0.6683, 16),
             (0.6684, 17),
             (0.6685, 22),
             (0.6686, 27),
             (0.6687, 6),
             (0.6688, 20),
             (0.6689, 9),
             (0.669, 16),
             (0.6691, 31),
             (0.6692, 19),
             (0.6693, 11),
             (0.6694, 14),
             (0.6695, 16),
             (0.6696, 14),
             (0.6697, 12),
             (0.6698, 19),
             (0.6699, 16),
             (0.67, 4),
             (0.6701, 11),
             (0.6702, 20),
             (0.6703, 12),
             (0.6704, 10),
             (0.6705, 20),
             (0.6706, 21),
             (0.6707, 24),
             (0.6708, 20),
             (0.6709, 30),
             (0.671, 10),
             (0.6711, 22),
             (0.6712, 12),
             (0.6713, 17),
             (0.6714, 14),
             (0.6715, 24),
             (0.6716, 12),
             (0.6717, 12),
             (0.6718, 14),
             (0.6719, 13),
             (0.672, 11),
             (0.6721, 10),
             (0.6722, 18),
             (0.6723, 18),
             (0.6724, 10),
             (0.6725, 13),
             (0.6726, 15),
             (0.6727, 18),
             (0.6728, 14),
             (0.6729, 7),
             (0.673, 11),
             (0.6731, 9),
             (0.6732, 10),
             (0.6733, 14),
             (0.6734, 17),
             (0.6735, 17),
             (0.6736, 19),
             (0.6737, 10),
             (0.6738, 10),
             (0.6739, 21),
             (0.674, 10),
             (0.6741, 22),
             (0.6742, 20),
             (0.6743, 27),
             (0.6744, 10),
             (0.6745, 19),
             (0.6746, 10),
             (0.6747, 10),
             (0.6748, 16),
             (0.6749, 11),
             (0.675, 18),
             (0.6751, 14),
             (0.6752, 24),
             (0.6753, 8),
             (0.6754, 15),
             (0.6755, 18),
             (0.6756, 8),
             (0.6757, 17),
             (0.6758, 8),
             (0.6759, 12),
             (0.676, 15),
             (0.6761, 13),
             (0.6762, 9),
             (0.6763, 17),
             (0.6764, 14),
             (0.6765, 8),
             (0.6766, 22),
             (0.6767, 15),
             (0.6768, 16),
             (0.6769, 26),
             (0.677, 7),
             (0.6771, 13),
             (0.6772, 17),
             (0.6773, 10),
             (0.6774, 22),
             (0.6775, 4),
             (0.6776, 8),
             (0.6777, 13),
             (0.6778, 16),
             (0.6779, 10),
             (0.678, 12),
             (0.6781, 4),
             (0.6782, 10),
             (0.6783, 9),
             (0.6784, 6),
             (0.6785, 14),
             (0.6786, 8),
             (0.6787, 20),
             (0.6788, 13),
             (0.6789, 10),
             (0.679, 9),
             (0.6791, 16),
             (0.6792, 14),
             (0.6793, 4),
             (0.6794, 12),
             (0.6795, 8),
             (0.6796, 20),
             (0.6797, 15),
             (0.6798, 7),
             (0.6799, 4),
             (0.68, 4),
             (0.6801, 18),
             (0.6802, 13),
             (0.6803, 7),
             (0.6804, 7),
             (0.6805, 10),
             (0.6806, 5),
             (0.6807, 9),
             (0.6808, 4),
             (0.6809, 12),
             (0.681, 13),
             (0.6811, 9),
             (0.6812, 8),
             (0.6813, 3),
             (0.6814, 6),
             (0.6815, 11),
             (0.6816, 4),
             (0.6817, 6),
             (0.6818, 16),
             (0.6819, 4),
             (0.682, 7),
             (0.6821, 9),
             (0.6822, 14),
             (0.6823, 7),
             (0.6824, 12),
             (0.6825, 9),
             (0.6826, 4),
             (0.6827, 6),

13926/20050 (~69.5%) guesses with 100% confidence

In [32]:
raw_df['profile_yn'].value_counts()

yes    19953
no        97
Name: profile_yn, dtype: int64

97 accounts not available at judging time

In [33]:
OrderedDict(sorted(raw_df['profile_yn:confidence'].value_counts().to_dict().items()))

OrderedDict([(0.6272, 1),
             (0.6308, 1),
             (0.631, 1),
             (0.6323, 1),
             (0.6361, 1),
             (0.6362, 1),
             (0.6373, 1),
             (0.6377, 1),
             (0.6403, 1),
             (0.6404, 1),
             (0.6406, 1),
             (0.6408, 1),
             (0.641, 1),
             (0.6418, 1),
             (0.6424, 1),
             (0.6426, 1),
             (0.643, 1),
             (0.6432, 1),
             (0.6434, 1),
             (0.6436, 4),
             (0.644, 2),
             (0.6442, 1),
             (0.6444, 1),
             (0.6445, 1),
             (0.6452, 1),
             (0.6456, 1),
             (0.646, 1),
             (0.6461, 1),
             (0.6462, 1),
             (0.6464, 1),
             (0.6466, 1),
             (0.6467, 1),
             (0.647, 1),
             (0.6471, 1),
             (0.6475, 1),
             (0.6476, 1),
             (0.6477, 1),
             (0.6478, 2),
             (0.6481, 2),
             (0.6483, 1),
             (0.6485, 1),
             (0.6488, 1),
             (0.6493, 3),
             (0.6494, 1),
             (0.6497, 1),
             (0.6498, 1),
             (0.65, 1),
             (0.6504, 1),
             (0.6505, 2),
             (0.6506, 1),
             (0.6509, 2),
             (0.6512, 2),
             (0.6516, 1),
             (0.6519, 1),
             (0.6523, 3),
             (0.6524, 2),
             (0.6527, 2),
             (0.653, 2),
             (0.6531, 1),
             (0.6532, 1),
             (0.6538, 3),
             (0.654, 1),
             (0.6541, 2),
             (0.6543, 3),
             (0.6544, 1),
             (0.6545, 1),
             (0.6547, 1),
             (0.6548, 1),
             (0.6551, 1),
             (0.6552, 3),
             (0.6556, 1),
             (0.6557, 6),
             (0.6561, 2),
             (0.6562, 2),
             (0.6566, 1),
             (0.6567, 1),
             (0.6568, 1),
             (0.6571, 1),
             (0.6574, 2),
             (0.6575, 2),
             (0.6579, 1),
             (0.6581, 1),
             (0.6582, 1),
             (0.6583, 3),
             (0.6584, 1),
             (0.6586, 2),
             (0.6587, 1),
             (0.6589, 3),
             (0.659, 2),
             (0.6591, 1),
             (0.6592, 1),
             (0.6593, 1),
             (0.6594, 3),
             (0.6595, 2),
             (0.6596, 2),
             (0.6598, 1),
             (0.6599, 2),
             (0.6602, 1),
             (0.6603, 1),
             (0.6604, 2),
             (0.6606, 3),
             (0.6607, 2),
             (0.6609, 1),
             (0.661, 1),
             (0.6612, 3),
             (0.6613, 2),
             (0.6615, 1),
             (0.6616, 2),
             (0.6617, 1),
             (0.6618, 2),
             (0.6619, 3),
             (0.6621, 1),
             (0.6622, 1),
             (0.6623, 1),
             (0.6625, 2),
             (0.6627, 1),
             (0.6628, 1),
             (0.6629, 1),
             (0.6631, 1),
             (0.6634, 3),
             (0.6635, 1),
             (0.6636, 4),
             (0.6637, 2),
             (0.6639, 1),
             (0.664, 1),
             (0.6641, 1),
             (0.6642, 3),
             (0.6645, 2),
             (0.6646, 1),
             (0.6648, 2),
             (0.6649, 6),
             (0.6651, 2),
             (0.6655, 3),
             (0.6656, 1),
             (0.6658, 1),
             (0.6659, 3),
             (0.666, 2),
             (0.6663, 1),
             (0.6664, 1),
             (0.6665, 1),
             (0.6666, 1),
             (0.6669, 2),
             (0.667, 1),
             (0.6671, 4),
             (0.6672, 1),
             (0.6673, 3),
             (0.6674, 3),
             (0.6675, 1),
             (0.6676, 2),
             (0.6677, 2),
             (0.6678, 1),
             (0.6682, 1),
             (0.6683, 2),
             (0.6684, 1),
             (0.6685, 1),
             (0.6686, 2),
             (0.6689, 1),
             (0.669, 3),
             (0.6691, 1),
             (0.6693, 3),
             (0.6694, 3),
             (0.6696, 2),
             (0.6701, 2),
             (0.6702, 1),
             (0.6703, 2),
             (0.6705, 2),
             (0.6707, 2),
             (0.6708, 1),
             (0.6709, 1),
             (0.671, 1),
             (0.6711, 3),
             (0.6712, 1),
             (0.6713, 3),
             (0.6714, 3),
             (0.6715, 2),
             (0.6716, 1),
             (0.6718, 2),
             (0.6719, 1),
             (0.6722, 1),
             (0.6726, 2),
             (0.6727, 1),
             (0.6729, 1),
             (0.6731, 2),
             (0.6732, 2),
             (0.6734, 2),
             (0.6735, 1),
             (0.6736, 1),
             (0.6737, 1),
             (0.6739, 1),
             (0.674, 2),
             (0.6741, 1),
             (0.6742, 2),
             (0.6743, 1),
             (0.6748, 1),
             (0.6749, 2),
             (0.675, 1),
             (0.6751, 1),
             (0.6752, 2),
             (0.6757, 3),
             (0.676, 1),
             (0.6762, 1),
             (0.6766, 1),
             (0.6767, 3),
             (0.6768, 1),
             (0.6769, 2),
             (0.6771, 1),
             (0.6772, 1),
             (0.6773, 1),
             (0.6774, 1),
             (0.6775, 2),
             (0.6776, 1),
             (0.6777, 2),
             (0.678, 1),
             (0.6781, 1),
             (0.6782, 1),
             (0.6784, 2),
             (0.6785, 1),
             (0.6786, 1),
             (0.6789, 1),
             (0.68, 1),
             (0.6801, 2),
             (0.6803, 2),
             (0.6806, 1),
             (0.6807, 1),
             (0.681, 2),
             (0.6812, 2),
             (0.6814, 1),
             (0.6816, 1),
             (0.6817, 2),
             (0.6818, 1),
             (0.6819, 1),
             (0.682, 1),
             (0.6822, 3),
             (0.6824, 1),
             (0.6825, 1),
             (0.6838, 3),
             (0.6839, 3),
             (0.6842, 1),
             (0.6855, 1),
             (0.6856, 1),
             (0.6859, 2),
             (0.686, 1),
             (0.6864, 1),
             (0.6865, 2),
             (0.6867, 1),
             (0.6875, 1),
             (0.6879, 2),
             (0.688, 2),
             (0.6881, 2),
             (0.6888, 1),
             (0.6889, 1),
             (0.689, 1),
             (0.6895, 1),
             (0.6898, 1),
             (0.6904, 2),
             (0.6905, 1),
             (0.6907, 1),
             (0.6913, 1),
             (0.6916, 1),
             (0.694, 3),
             (0.6946, 1),
             (0.6961, 1),
             (0.697, 1),
             (0.6976, 1),
             (0.9612, 1),
             (0.9636, 1),
             (1.0, 19642)])

No account was guess with the confidence less than 60%  
19642/20050 (~98%) guesses with 100% confidence

In [34]:
19642/20050

0.9796508728179552

In [37]:
raw_df['gender_gold'].value_counts()

male               19
female             14
brand              13
unknown             2
female\nunknown     1
male\nunknown       1
Name: gender_gold, dtype: int64

In [38]:
raw_df['profile_yn_gold'].value_counts()

yes    50
Name: profile_yn_gold, dtype: int64

100% golden accounts were available at judging time

In [39]:
raw_df['tweet_coord'].value_counts()

[37.7463, -25.6668]            2
[52.2297, 21.0122]             2
[30.764, 20.2236]              2
[25.2803, 51.5225]             2
[53.33422016, -2.74855379]     2
                              ..
[45.53106791, -122.6503049]    1
[33.4931, -111.926]            1
[43.0621, 141.354]             1
[42.93237349, -70.88862593]    1
[32.725409, -97.3208496]       1
Name: tweet_coord, Length: 146, dtype: int64

In [41]:
raw_df['tweet_coord'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 20050 entries, 0 to 20049
Series name: tweet_coord
Non-Null Count  Dtype
--------------  -----
159 non-null    object
dtypes: object(1)
memory usage: 156.8+ KB

159 accounts have location turned on

In [42]:
raw_df['tweet_count'].value_counts()

151386     30
1          26
3          24
2372591    24
2          21
           ..
20977       1
27483       1
12728       1
8563        1
17851       1
Name: tweet_count, Length: 14280, dtype: int64

In [43]:
raw_df['user_timezone'].value_counts()

Eastern Time (US & Canada)        2496
Pacific Time (US & Canada)        2106
Central Time (US & Canada)        1505
London                            1307
Atlantic Time (Canada)             589
                                  ...
America/Boise                        1
Ulaan Bataar                         1
Europe/Moscow                        1
GMT+3                                1
America/Argentina/Buenos_Aires       1
Name: user_timezone, Length: 156, dtype: int64

In [44]:
raw_df['user_timezone'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 20050 entries, 0 to 20049
Series name: user_timezone
Non-Null Count  Dtype
--------------  -----
12252 non-null  object
dtypes: object(1)
memory usage: 156.8+ KB

12252/20050 (~61%) accounts has timezone information

## 13/09/23 exploration

In [8]:
raw_df['description'].head(20).to_list()

['i sing my own rhythm.',
 "I'm the author of novels filled with family drama and romance.",
 'louis whining and squealing and all',
 'Mobile guy.  49ers, Shazam, Google, Kleiner Perkins, Yahoo!, Sprint PCS, AirTouch, Air Force.  Stanford GSB, UVa.  Dad, Husband, Brother.  Golfer.',
 'Ricky Wilson The Best FRONTMAN/Kaiser Chiefs The Best BAND Xxxx Thank you Kaiser Chiefs for an incredible year of gigs and memories to cherish always :) Xxxxxxx',
 "you don't know me.",
 'A global marketplace for images, videos and music. Sharing photos, inspiration, design tips & videos for the creative community.',
 'The secret of getting ahead is getting started.',
 'Pll Fan // Crazy about MCD // Ramen is bae',
 'Renaissance art historian, University of Nottingham; fuelled by Haribo, partial to coffee and with a soft spot for Renaissance China. National Teaching Fellow.',
 'Clean food that tastes great while providing energy & nutrients! No guilt granola, vegan/paleo friendly options too! Cert organic, GF, kosher',
 'highly extraordinary auctions',
 "Senior '16 . XI-XII-MMXIV.",
 'Come join the fastest blog network online today http://t.co/S5mFPA1vgK and http://t.co/MPUuQtYF1g We cover credit repair, credit cards and bankruptcy.',
 'im just here for tÌüp, bo burnham, and disney world.',
 nan,
 'JMKM\x89_Ò\x95ü\x8f',
 'Over enthusiastic F1 fan.  Model collector, music fan and a film fanatic.  Also an Aspergian.',
 nan,
 nan]

In [9]:
raw_df['created'].head(20).to_list()

['12/5/13 1:48',
 '10/1/12 13:51',
 '11/28/14 11:30',
 '6/11/09 22:39',
 '4/16/14 13:23',
 '3/11/10 18:14',
 '4/24/08 13:03',
 '12/3/12 21:54',
 '9/8/15 4:50',
 '5/13/11 3:32',
 '11/16/11 17:14',
 '2/22/15 20:06',
 '8/10/12 5:05',
 '5/1/12 22:14',
 '4/6/13 15:31',
 '10/3/15 21:32',
 '8/27/11 9:42',
 '10/18/09 11:41',
 '7/20/15 12:01',
 '1/30/15 9:52']

In [10]:
raw_df['link_color'].head(20).to_list()

['08C2C2',
 '0084B4',
 'ABB8C2',
 '0084B4',
 '3B94D9',
 'F5ABB5',
 '298AAE',
 '0000FF',
 '9266CC',
 '9266CC',
 '0084B4',
 '0084B4',
 '0084B4',
 '2FC2EF',
 '0084B4',
 '0084B4',
 '58185',
 '0084B4',
 '0084B4',
 '0084B4']

In [16]:
raw_df['sidebar_color'].value_counts()

sidebar_color
C0DEED    9093
0         4037
FFFFFF    3797
EEEEEE     699
181A1E     304
          ...
0084B4       1
870000       1
3E0405       1
656869       1
B68B9E       1
Name: count, Length: 561, dtype: int64

In [13]:
raw_df['name'].head(20).to_list()

['sheezy0',
 'DavdBurnett',
 'lwtprettylaugh',
 'douggarland',
 'WilfordGemma',
 'monroevicious',
 'Shutterstock',
 'RobinMeske',
 'pigzilla_',
 'GabrieleNeher',
 'Blissful_Eats',
 'eliseotecleo',
 'kaylanabrewer_',
 'americacredit',
 'cheyflan',
 'Ayu7sith4',
 'Toucaan_Samm',
 'SSmyth2010',
 'DarkToonsGaming',
 'GourlayLynn']

In [14]:
raw_df['profileimage'].head(20).to_list()

['https://pbs.twimg.com/profile_images/414342229096808449/fYvzqXN7_normal.png',
 'https://pbs.twimg.com/profile_images/539604221532700673/WW16tBbU_normal.jpeg',
 'https://pbs.twimg.com/profile_images/657330418249658368/SBLCXdF7_normal.png',
 'https://pbs.twimg.com/profile_images/259703936/IMG_8444_normal.JPG',
 'https://pbs.twimg.com/profile_images/564094871032446976/AOfpk-mr_normal.jpeg',
 'https://pbs.twimg.com/profile_images/656336865033850880/ougQS3q7_normal.jpg',
 'https://pbs.twimg.com/profile_images/528547133025042432/RC9k-6fp_normal.png',
 'https://pbs.twimg.com/profile_images/508875440107180032/apOHVAt8_normal.jpeg',
 'https://pbs.twimg.com/profile_images/658670112304709632/ZhhUs4WC_normal.jpg',
 'https://pbs.twimg.com/profile_images/513327289858535424/vrc79hs1_normal.jpeg',
 'https://pbs.twimg.com/profile_images/653518467258257408/Gv6tlJfg_normal.jpg',
 'https://pbs.twimg.com/profile_images/569710046712299520/TFSOX_An_normal.jpeg',
 'https://pbs.twimg.com/profile_images/651227967595483140/Mes6SNEO_normal.png',
 'https://pbs.twimg.com/profile_images/2183715516/logo_121_normal.jpg',
 'https://pbs.twimg.com/profile_images/655943646815113216/gnRGy6pf_normal.jpg',
 'https://pbs.twimg.com/profile_images/650530183737315328/mgnOVgHF_normal.jpg',
 'https://pbs.twimg.com/profile_images/625025152720375808/QJNu2mgI_normal.jpg',
 'https://pbs.twimg.com/profile_images/613850179880517634/m_B2ujkb_normal.jpg',
 'https://pbs.twimg.com/profile_images/623207306419916800/qKUdsaHU_normal.jpg',
 'https://pbs.twimg.com/profile_images/647529821182914560/D99dZBW5_normal.jpg']

In [17]:
raw_df['text'].head(20).to_list()

['Robbie E Responds To Critics After Win Against Eddie Edwards In The #WorldTitleSeries https://t.co/NSybBmVjKZ',
 '\x89ÛÏIt felt like they were my friends and I was living the story with them\x89Û\x9d https://t.co/arngE0YHNO #retired #IAN1 https://t.co/CIzCANPQFz',
 'i absolutely adore when louis starts the songs it hits me hard but it feels good',
 "Hi @JordanSpieth - Looking at the url - do you use @IFTTT?!  Don't typically see an advanced user on the @PGATOUR! https://t.co/H68ou5PE9L",
 'Watching Neighbours on Sky+ catching up with the Neighbs!! Xxx _Ù÷Ä_Ù÷Ä_Ù÷Ä_ÙÔÎ_Ù\x8fÈ_ÙÔ\x8d_Ù\x8fÈ Xxx',
 'Ive seen people on the train with lamps, chairs, tvs etc  https://t.co/w6zf4pVM4I',
 '@BpackEngineer Thank you for your patience while we take care of the issue!',
 "Gala Bingo clubs bought for å£241m: The UK's largest High Street bingo operator, Gala, is being taken over by\x89Û_ https://t.co/HzeeykJUd3",
 '@_Aphmau_ the pic defines all mcd fangirls/fanboys and mcd shippers xD',
 '@Evielady just how lovely is the tree this year! Never seen it as gorgeous as this #Autumn #colour',
 'how are you taking care of yourself? https://t.co/OrL9u1P8YI #fitfluential',
 'MTG Deals 1x Rank-Up-Magic - The Seventh One - PRIO-EN058 - Secret Rare - Unlimi https://t.co/Y22wyLpgnN https://t.co/VwagxMNohB',
 'Just put my ass on the line for you and this is how you repay me.',
 "https://t.co/z4sbWUugd8 What the Nation Will Be Talking About After Wednesday's GOP Debates https://t.co/gIHIVyHF7G #business #now",
 'will i even need sound effects for the diviners tonight',
 "https://t.co/EROGWTFTYo It's a glow of satisfaction re The Glow https://t.co/7RdyMCVPKx",
 "@giannaaa28 lmao _Ù÷â_Ù÷â dude I'm hella scared for next episode bc the ending to yesterday's",
 "@coolyazzy94 Ditto - I'm still learning the favourites and retweet stuff - least it sucks less than Facebook haha :P",
 "@CaribBros @JstSaleem I do but I don't understand how to get to the server to get it",
 'Me too, saw five lionesses drinking around the little pan one half block away, made a kill behind land R.   #SafariLive']

In [18]:
raw_df['tweet_coord'].head(20).to_list()

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [19]:
raw_df['tweet_location'].head(20).to_list()

['main; @Kan1shk3',
 nan,
 'clcncl',
 'Palo Alto, CA',
 nan,
 'New York Gritty',
 'Worldwide',
 nan,
 nan,
 'Nottingham, England.',
 'New York',
 nan,
 nan,
 'America Credit',
 'row b seat 104',
 nan,
 nan,
 'Glasgow',
 nan,
 nan]

### Check golden standard data

In [31]:
golden_rdf = raw_df[raw_df['_golden'] == True]
golden_rdf

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
20000,815746503,True,golden,249,NaN,male,0.9612,yes,0.9612,8/5/10 8:31,...,https://pbs.twimg.com/profile_images/643511925...,0,FFFFFF,Reimagining the #webdesign process by @InVisio...,NaN,3874,10/26/15 12:40,6.587300e+17,127.0.0.1,Athens
20001,815750089,True,golden,271,NaN,brand,0.9622,yes,1.0000,9/10/14 16:30,...,https://pbs.twimg.com/profile_images/509901605...,0,0,#WestHam Tweets: 52: Goal. @FulhamFC double th...,NaN,24827,10/26/15 13:20,6.587400e+17,NaN,NaN
20002,815750297,True,golden,245,NaN,brand,1.0000,yes,1.0000,5/11/09 15:31,...,https://pbs.twimg.com/profile_images/532477863...,1,FFFFFF,Webber: 'It's a chance for the lads to pit the...,NaN,42075,10/26/15 12:40,6.587300e+17,"Wembley Stadium, London",London
20003,815750417,True,golden,245,NaN,brand,0.6408,yes,1.0000,8/1/14 13:20,...,https://abs.twimg.com/sticky/default_profile_i...,0,C0DEED,Get Weather Updates from The Weather Channel. ...,NaN,63240,10/26/15 12:40,6.587300e+17,NaN,NaN
20004,815750696,True,golden,261,NaN,male,1.0000,yes,1.0000,3/26/12 14:40,...,https://pbs.twimg.com/profile_images/604379716...,0,0,@TheFalcoholic is like the mailman... Because ...,NaN,3296,10/26/15 12:40,6.587300e+17,Parts Unknown,Pacific Time (US & Canada)
20005,815751197,True,golden,247,NaN,male,0.7538,yes,1.0000,9/7/12 19:57,...,https://pbs.twimg.com/profile_images/258765879...,0,C0DEED,@johnroderick @danbenjamin The way of the future.,NaN,2579,10/26/15 12:40,6.587300e+17,The skies,Central Time (US & Canada)
20006,815751353,True,golden,242,NaN,female,0.8503,yes,1.0000,2/12/12 5:49,...,https://pbs.twimg.com/profile_images/612682953...,0,C0DEED,@Stickyribs1 Great burgers and ribs tonight. N...,NaN,710,10/26/15 13:19,6.587400e+17,NaN,NaN
20007,815752261,True,golden,249,NaN,female,1.0000,yes,1.0000,11/15/11 8:04,...,https://pbs.twimg.com/profile_images/658240828...,0,0,its for the best i hate 2/4 people in this hou...,NaN,17230,10/26/15 12:39,6.587300e+17,NaN,Amsterdam
20008,815752556,True,golden,256,NaN,male,0.8458,yes,1.0000,12/17/09 16:54,...,https://pbs.twimg.com/profile_images/244887748...,0,C0DEED,"@anarchoshow breaking the laws of physics, whi...",NaN,11318,10/26/15 12:40,6.587300e+17,NaN,NaN
20009,815752702,True,golden,262,NaN,female,1.0000,yes,1.0000,9/10/13 19:04,...,https://pbs.twimg.com/profile_images/579826836...,0,DBE9ED,The day before the appointment to get my car i...,NaN,781,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
20010,815752755,True,golden,259,NaN,female,1.0000,yes,1.0000,6/30/11 11:16,...,https://pbs.twimg.com/profile_images/651763480...,0,0,@leedsparadise his name is Tapsi and he's the ...,NaN,36755,10/26/15 12:40,6.587300e+17,London,Amsterdam
20011,815752819,True,golden,264,NaN,brand,0.9636,yes,0.9636,6/16/10 0:23,...,https://pbs.twimg.com/profile_images/591522937...,0,C0DEED,"Now put ur skills in2 practice Gr8 deals,easy ...",NaN,1158,10/26/15 12:40,6.587300e+17,Bardonecchia Italy,Rome
20012,815752898,True,golden,258,NaN,male,0.8796,yes,1.0000,12/29/14 16:39,...,https://pbs.twimg.com/profile_images/651991310...,0,C0DEED,Have a talent in music and poetry/ spoken word...,NaN,934,10/26/15 13:19,6.587400e+17,NaN,Eastern Time (US & Canada)
20013,815752948,True,golden,260,NaN,male,0.9613,yes,1.0000,3/2/11 22:38,...,https://pbs.twimg.com/profile_images/643521638...,0,FFFFFF,My parents are not paying tuition for me to si...,NaN,11286,10/26/15 13:20,6.587400e+17,"ÌÏT: -26.1976462,28.0312431",Harare
20014,815753106,True,golden,242,NaN,male,1.0000,yes,1.0000,1/8/11 8:52,...,https://pbs.twimg.com/profile_images/579820697...,0,0,@scttpilgrim ive superseded tumblr and pintere...,NaN,13886,10/26/15 13:20,6.587400e+17,"Hull & Manchester, UK",London
20015,815753655,True,golden,249,NaN,female,1.0000,yes,1.0000,12/26/11 18:06,...,https://pbs.twimg.com/profile_images/588958496...,0,EEEEEE,You can fall in love many times with many diff...,NaN,2435,10/26/15 12:40,6.587300e+17,Oakland,Indiana (East)
20016,815753740,True,golden,228,NaN,female,0.7650,yes,1.0000,8/27/11 19:14,...,https://pbs.twimg.com/profile_images/657782196...,0,0,@iJamCrazyy aka I miss hoopin and womping in t...,NaN,26769,10/26/15 12:40,6.587300e+17,camp blueberry @ EF,Quito
20017,815753796,True,golden,233,NaN,brand,0.6059,yes,1.0000,5/5/14 12:48,...,https://abs.twimg.com/sticky/default_profile_i...,0,C0DEED,Get Weather Updates from The Weather Channel. ...,NaN,63448,10/26/15 12:40,6.587300e+17,NaN,NaN
20018,815753864,True,golden,255,NaN,male,1.0000,yes,1.0000,1/8/09 19:59,...,https://pbs.twimg.com/profile_images/309356802...,0,BDDCAD,@ebwashington @binarybits OEM-owned Car2Go. OE...,NaN,7850,10/26/15 13:20,6.587400e+17,"Brightwood Park, D.C.",Eastern Time (US & Canada)
20019,815754153,True,golden,235,NaN,male,1.0000,yes,1.0000,11/17/11 11:44,...,https://pbs.twimg.com/profile_images/655236837...,0,FFFFFF,@kass_xo was it really that funny lol and how ...,NaN,64374,10/26/15 13:19,6.587400e+17,NaN,NaN
20020,815754293,True,golden,260,NaN,brand,1.0000,yes,1.0000,12/22/11 15:16,...,https://pbs.twimg.com/profile_images/378800000...,0,C0DEED,"#WWII 27 Oct 42, NEW GUINEA:\n5AF P-40s escort...",NaN,9262,10/26/15 12:39,6.587300e+17,Mark Donoghue,NaN
20021,815754330,True,golden,259,NaN,male,1.0000,yes,1.0000,4/16/12 15:14,...,https://pbs.twimg.com/profile_images/658085850...,0,FFFFFF,And Yes Im Toting Catch Em Without My Strap &a...,NaN,74267,10/26/15 13:20,6.587400e+17,SnapChat DaeMontana103rd,Atlantic Time (Canada)
20022,815754362,True,golden,247,NaN,male,1.0000,yes,1.0000,7/31/10 22:50,...,https://pbs.twimg.com/profile_images/658499090...,0,0,I think I'm going to move to Colorado for the ...,NaN,2826,10/26/15 12:40,6.587300e+17,NaN,NaN
20023,815754554,True,golden,254,NaN,male,0.5762,yes,1.0000,11/18/10 11:16,...,https://abs.twimg.com/sticky/default_profile_i...,0,C0DEED,George Bush and Dick Cheney need to vacation i...,NaN,5,10/26/15 12:40,6.587300e+17,NaN,NaN
20024,815754614,True,golden,235,NaN,brand,0.5540,yes,1.0000,3/24/09 20:52,...,https://pbs.twimg.com/profile_images/649004216...,0,0,The droids you're looking for... https://t.co/...,NaN,18857,10/26/15 12:39,6.587300e+17,New Zealand,Auckland
20025,815754750,True,golden,245,NaN,brand,0.9618,yes,1.0000,8/10/15 7:53,...,https://pbs.twimg.com/profile_images/630754278...,0,0,Ha ha!! I know what you mean @Bizstartuplady b...,NaN,2404,10/26/15 13:19,6.587400e+17,Shropshire and Mid Wales,NaN
20026,815755076,True,golden,245,NaN,male,1.0000,yes,1.0000,7/4/11 14:50,...,https://pbs.twimg.com/profile_images/630372206...,0,0,Still looking for the free bar https://t.co/Wi...,NaN,5005,10/26/15 12:40,6.587300e+17,"GY, UK",Casablanca
20027,815755206,True,golden,231,NaN,male,1.0000,yes,1.0000,12/17/13 11:40,...,https://pbs.twimg.com/profile_images/589188610...,0,C0DEED,the junior doctors had civil unrest in london ...,NaN,1385,10/26/15 12:40,6.587300e+17,NaN,NaN
20028,815755336,True,golden,274,NaN,female,1.0000,yes,1.0000,7/25/14 16:07,...,https://pbs.twimg.com/profile_images/652848394...,0,0,@lmaokaylinx @charlieputh but then i opened th...,NaN,1162,10/26/15 13:19,6.587400e+17,NaN,Pacific Time (US & Canada)
20029,815755512,True,golden,246,NaN,brand,0.5654,yes,1.0000,10/13/15 4:06,...,https://pbs.twimg.com/profile_images/653890129...,0,C0DEED,The Complete Gillian Flynn Gone Girl Sharp Obj...,NaN,21172,10/26/15 12:40,6.587300e+17,"New York, USA",NaN
20030,815755552,True,golden,273,NaN,brand,1.0000,yes,1.0000,9/18/13 16:30,...,https://pbs.twimg.com/profile_images/378800000...,0,0,The White House Is Ready For Tech To Step Up I...,NaN,723,10/26/15 12:40,6.587300e+17,Greater Washington DC,Atlantic Time (Canada)
20031,815755604,True,golden,242,NaN,male,1.0000,yes,1.0000,11/22/11 22:41,...,https://pbs.twimg.com/profile_images/474040421...,0,C0DEED,Bun B saving kids and Ribs!!!...Not all heroes...,NaN,590,10/26/15 13:19,6.587400e+17,Houston,NaN
20032,815755689,True,golden,260,NaN,male,1.0000,yes,1.0000,5/15/09 20:04,...,https://pbs.twimg.com/profile_images/631251356...,0,C0DEED,@legobutts you can do quests and kill stuff wh...,NaN,14165,10/26/15 13:20,6.587400e+17,NaN,Quito
20033,815755763,True,golden,239,NaN,female,0.8431,yes,1.0000,2/8/15 17:50,...,https://pbs.twimg.com/profile_images/648013424...,0,0,i finally read blood of olympus and now that m...,NaN,5284,10/26/15 13:20,6.587400e+17,brazil,NaN
20034,815755825,True,golden,264,NaN,brand,1.0000,yes,1.0000,7/21/11 11:30,...,https://pbs.twimg.com/profile_images/461602825...,0,C0DEED,View the Community Halloween Spooktacular @Cit...,NaN,2851,10/26/15 12:40,6.587300e+17,Raleigh NC,Eastern Time (US & Canada)
20035,815755887,True,golden,270,NaN,female,1.0000,yes,1.0000,5/14/10 9:44,...,https://pbs.twimg.com/profile_images/608774064...,0,FFFFFF,Beetlejuice is the perfect Halloween movie!!!!...,NaN,7004,10/26/15 12:39,6.587300e+17,"Raleigh, North Carolina",Atlantic Time (Canada)
20036,815756011,True,golden,264,NaN,female,0.9622,yes,1.0000,8/2/14 10:19,...,https://pbs.twimg.com/profile_images/652881466...,0,C0DEED,@ItsLeeHinchy #LeesQANDA what's the story in b...,NaN,3094,10/26/15 12:40,6.587300e+17,Yorkshire,NaN
20037,815756103,True,golden,259,NaN,male,1.0000,yes,1.0000,11/27/07 13:10,...,https://pbs.twimg.com/profile_images/301147383...,0,FFFFFF,@TrentWalton @oguzbilgic Spell it out in all-c...,NaN,9092,10/26/15 13:19,6.587400e+17,"Brooklyn, NY",Eastern Time (US & Canada)
20038,815756269,True,golden,237,NaN,brand,0.8397,yes,1.0000,1/16/12 21:21,...,https://pbs.twimg.com/profile_images/178366208...,0,C0DEED,Jon Stewart's Animal Sanctuary And Educational...,NaN,7083,10/26/15 13:19,6.587400e+17,NaN,NaN
20039,815756332,True,golden,227,NaN,female,1.0000,yes,1.0000,2/21/12 18:36,...,https://pbs.twimg.com/profile_images/631301797...,0,C0DEED,Especially when all you do is the best you can...,NaN,2034,10/26/15 12:39,6.587300e+17,NaN,NaN
20040,815756417,True,golden,253,NaN,male,0.8472,yes,1.0000,8/16/13 14:48,...,https://pbs.twimg.com/profile_images/557215663...,0,0,Discovered it in England. It's how they eat fi...,NaN,3084,10/26/15 13:19,6.587400e+17,"Houston, Texas",Central Time (US & Canada)
20041,815756542,True,golden,252,NaN,brand,1.0000,yes,1.0000,8/11/11 10:01,...,https://pbs.twimg.com/profile_images/149016810...,0,C0DEED,For Stan and Lisa... has #Coffee Cup at https:...,NaN,105864,10/26/15 13:19,6.587400e+17,Colorado,Mountain Time (US & Canada)
20042,815756642,True,golden,212,NaN,brand,0.6364,yes,1.0000,6/8/14 19:07,...,https://pbs.twimg.com/profile_images/616770699...,0,948C75,Best Bloody Mary Brunch at the #NYCWFF @nyceff...,NaN,5900,10/26/15 12:40,6.587300e+17,"Miami, FL",Eastern Time (US & Canada)
20043,815756700,True,golden,240,NaN,male,1.0000,yes,1.0000,9/27/11 0:19,...,https://pbs.twimg.com/profile_images/378800000...,1,5ED4DC,"Game faggot and venison loin, crisp spelt and ...",NaN,8193,10/26/15 13:19,6.587400e+17,Chertsey Bridge,NaN
20044,815756767,True,golden,227,NaN,female,1.0000,yes,1.0000,6/11/14 1:55,...,https://pbs.twimg.com/profile_images/643483977...,0,C0DEED,Need A Ride Home From Practice _Ù÷Ô_Ù÷Ô_Ù÷ÔAnd...,NaN,6669,10/26/15 13:19,6.587400e+17,NaN,NaN
20045,815757572,True,golden,259,NaN,female,1.0000,yes,1.0000,8/5/15 21:16,...,https://pbs.twimg.com/profile_images/656793310...,0,C0DEED,"@lookupondeath ...Fine, and I'll drink tea too...",NaN,783,10/26/15 13:20,6.587400e+17,Verona ªÁ,NaN
20046,815757681,True,golden,248,NaN,male,1.0000,yes,1.0000,8/15/12 21:17,...,https://pbs.twimg.com/profile_images/639815429...,0,0,Greg Hardy you a good player and all but don't...,NaN,13523,10/26/15 12:40,6.587300e+17,"Kansas City, MO",NaN
20047,815757830,True,golden,264,NaN,male,1.0000,yes,1.0000,9/3/12 1:17,...,https://pbs.twimg.com/profile_images/655473271...,0,C0DEED,You can miss people and still never want to se...,NaN,26419,10/26/15 13:20,6.587400e+17,Lagos Nigeria,NaN
20048,815757921,True,golden,250,NaN,female,0.8489,yes,1.0000,11/6/12 23:46,...,https://pbs.twimg.com/profile_images/657716093...,0,0,@bitemyapp i had noticed your tendency to pee ...,NaN,56073,10/26/15 12:40,6.587300e+17,Texas Hill Country,NaN
20049,815757985,True,golden,249,NaN,female,1.0000,yes,1.0000,4/14/14 17:22,...,https://pbs.twimg.com/profile_images/655134724...,0,C0DEED,I think for my APUSH creative project I'm goin...,NaN,2922,10/26/15 13:19,6.587400e+17,NaN,NaN

In [32]:
golden_rdf = golden_rdf.drop(['_unit_id', "_golden", '_unit_state',
                             '_trusted_judgments', '_last_judgment_at', 'profileimage',
                              'tweet_id', 'profile_yn_gold'], axis='columns')

In [36]:
golden_rdf = golden_rdf.drop(['tweet_coord'], axis='columns')

In [37]:
golden_rdf

,gender,gender:confidence,profile_yn,profile_yn:confidence,created,description,fav_number,gender_gold,link_color,name,retweet_count,sidebar_color,text,tweet_count,tweet_created,tweet_location,user_timezone
20000,male,0.9612,yes,0.9612,8/5/10 8:31,"Maker, Conceptor & Creative Developer - 0xBAC3...",193,male,107FC9,Adrien_RG,0,FFFFFF,Reimagining the #webdesign process by @InVisio...,3874,10/26/15 12:40,127.0.0.1,Athens
20001,brand,0.9622,yes,1.0000,9/10/14 16:30,We cover West Ham United FC and Soccer 24/7. P...,0,brand,DD2E60,westhampress,0,0,#WestHam Tweets: 52: Goal. @FulhamFC double th...,24827,10/26/15 13:20,NaN,NaN
20002,brand,1.0000,yes,1.0000,5/11/09 15:31,Official Twitter account of The Football Assoc...,127,brand,8F9194,FA,1,FFFFFF,Webber: 'It's a chance for the lads to pit the...,42075,10/26/15 12:40,"Wembley Stadium, London",London
20003,brand,0.6408,yes,1.0000,8/1/14 13:20,NaN,0,brand,0084B4,08026gnla,0,C0DEED,Get Weather Updates from The Weather Channel. ...,63240,10/26/15 12:40,NaN,NaN
20004,male,1.0000,yes,1.0000,3/26/12 14:40,Comedian / Writer / @RabbleTV Broadcaster & Ho...,43899,male,94D487,chadfishburne,0,0,@TheFalcoholic is like the mailman... Because ...,3296,10/26/15 12:40,Parts Unknown,Pacific Time (US & Canada)
20005,male,0.7538,yes,1.0000,9/7/12 19:57,NaN,0,brand,0084B4,wayoftheaviator,0,C0DEED,@johnroderick @danbenjamin The way of the future.,2579,10/26/15 12:40,The skies,Central Time (US & Canada)
20006,female,0.8503,yes,1.0000,2/12/12 5:49,"Self confessed Drama Queen! Loves her boys, dr...",228,female,0084B4,MariaBarnes6,0,C0DEED,@Stickyribs1 Great burgers and ribs tonight. N...,710,10/26/15 13:19,NaN,NaN
20007,female,1.0000,yes,1.0000,11/15/11 8:04,nottingham//OVOXO,1529,female,0084B4,h0lly_siz,0,0,its for the best i hate 2/4 people in this hou...,17230,10/26/15 12:39,NaN,Amsterdam
20008,male,0.8458,yes,1.0000,12/17/09 16:54,#atheist. #antitheist. #humanist. deeply in...,8894,male,0084B4,Chrizamo,0,C0DEED,"@anarchoshow breaking the laws of physics, whi...",11318,10/26/15 12:40,NaN,NaN
20009,female,1.0000,yes,1.0000,9/10/13 19:04,calu '18 | Delta Zeta,181,female,CC3366,saidtaybae,0,DBE9ED,The day before the appointment to get my car i...,781,10/26/15 12:40,NaN,Eastern Time (US & Canada)
20010,female,1.0000,yes,1.0000,6/30/11 11:16,// giving; showing concern for humanity; chari...,9041,female,89C9FA,philanthroupic,0,0,@leedsparadise his name is Tapsi and he's the ...,36755,10/26/15 12:40,London,Amsterdam
20011,brand,0.9636,yes,0.9636,6/16/10 0:23,British independent ski chalet in Bardonecchia...,127,brand,0084B4,SempreSki,0,C0DEED,"Now put ur skills in2 practice Gr8 deals,easy ...",1158,10/26/15 12:40,Bardonecchia Italy,Rome
20012,male,0.8796,yes,1.0000,12/29/14 16:39,Unique and yet still the same; what else is th...,835,male,0084B4,quise_tdb,0,C0DEED,Have a talent in music and poetry/ spoken word...,934,10/26/15 13:19,NaN,Eastern Time (US & Canada)
20013,male,0.9613,yes,1.0000,3/2/11 22:38,BA graduate; doing my LLB at Wits University. ...,105,male,0084B4,donjohnsonpentz,0,FFFFFF,My parents are not paying tuition for me to si...,11286,10/26/15 13:20,"ÌÏT: -26.1976462,28.0312431",Harare
20014,male,1.0000,yes,1.0000,1/8/11 8:52,"Award winning actor, Vocalist/Songwriter/Guita...",3870,male,0,DanOfCydonia,0,0,@scttpilgrim ive superseded tumblr and pintere...,13886,10/26/15 13:20,"Hull & Manchester, UK",London
20015,female,1.0000,yes,1.0000,12/26/11 18:06,I like to write.,0,female,38543,AvraCaro,0,EEEEEE,You can fall in love many times with many diff...,2435,10/26/15 12:40,Oakland,Indiana (East)
20016,female,0.7650,yes,1.0000,8/27/11 19:14,Û¢Û¢ professional head-banger & herb-inhalat...,42230,female\nunknown,140602,sarahminda,0,0,@iJamCrazyy aka I miss hoopin and womping in t...,26769,10/26/15 12:40,camp blueberry @ EF,Quito
20017,brand,0.6059,yes,1.0000,5/5/14 12:48,NaN,0,brand,0084B4,04630lktc,0,C0DEED,Get Weather Updates from The Weather Channel. ...,63448,10/26/15 12:40,NaN,NaN
20018,male,1.0000,yes,1.0000,1/8/09 19:59,Research fellow @ceidotorg. Transport and urba...,39,male,0084B4,marcscribner,0,BDDCAD,@ebwashington @binarybits OEM-owned Car2Go. OE...,7850,10/26/15 13:20,"Brightwood Park, D.C.",Eastern Time (US & Canada)
20019,male,1.0000,yes,1.0000,11/17/11 11:44,"Averett Football #1 john 3:16 God,Family,Football",5924,male,0084B4,aye_brenden,0,FFFFFF,@kass_xo was it really that funny lol and how ...,64374,10/26/15 13:19,NaN,NaN
20020,brand,1.0000,yes,1.0000,12/22/11 15:16,PACIFIC VICTORY ROLL website - #RAAF & #RNZAF ...,435,brand,0084B4,RAAFvictoryroll,0,C0DEED,"#WWII 27 Oct 42, NEW GUINEA:\n5AF P-40s escort...",9262,10/26/15 12:39,Mark Donoghue,NaN
20021,male,1.0000,yes,1.0000,4/16/12 15:14,"Camden, Nj single",11993,male,FF8C00,Montana_103rd,0,FFFFFF,And Yes Im Toting Catch Em Without My Strap &a...,74267,10/26/15 13:20,SnapChat DaeMontana103rd,Atlantic Time (Canada)
20022,male,1.0000,yes,1.0000,7/31/10 22:50,come over let me blow your mind,3066,male,3B94D9,brianlkimich,0,0,I think I'm going to move to Colorado for the ...,2826,10/26/15 12:40,NaN,NaN
20023,male,0.5762,yes,1.0000,11/18/10 11:16,NaN,2,male\nunknown,0084B4,5yellowdogdem,0,C0DEED,George Bush and Dick Cheney need to vacation i...,5,10/26/15 12:40,NaN,NaN
20024,brand,0.5540,yes,1.0000,3/24/09 20:52,"#code, #linux, and #food. Oh and #art",302,unknown,89C9FA,art_control,0,0,The droids you're looking for... https://t.co/...,18857,10/26/15 12:39,New Zealand,Auckland
20025,brand,0.9618,yes,1.0000,8/10/15 7:53,"Promotional marketing solutions for leisure, t...",1383,brand,009ADA,OutThereShrops,0,0,Ha ha!! I know what you mean @Bizstartuplady b...,2404,10/26/15 13:19,Shropshire and Mid Wales,NaN
20026,male,1.0000,yes,1.0000,7/4/11 14:50,"Freelance @Halo writer, with work appearing on...",1527,male,EB9500,IanBealio,0,0,Still looking for the free bar https://t.co/Wi...,5005,10/26/15 12:40,"GY, UK",Casablanca
20027,male,1.0000,yes,1.0000,12/17/13 11:40,NaN,24,male,0084B4,CeltsteveSr,0,C0DEED,the junior doctors had civil unrest in london ...,1385,10/26/15 12:40,NaN,NaN
20028,female,1.0000,yes,1.0000,7/25/14 16:07,**sigh**,3995,female,9266CC,ughcarolyn,0,0,@lmaokaylinx @charlieputh but then i opened th...,1162,10/26/15 13:19,NaN,Pacific Time (US & Canada)
20029,brand,0.5654,yes,1.0000,10/13/15 4:06,"Music,sports,photografy,travel,shopping,internet",0,brand,0084B4,Wiemdi__Biivgi,0,C0DEED,The Complete Gillian Flynn Gone Girl Sharp Obj...,21172,10/26/15 12:40,"New York, USA",NaN
20030,brand,1.0000,yes,1.0000,9/18/13 16:30,Crowdsourcing #Innovation! The FINND connects ...,137,brand,9999,theFINND,0,0,The White House Is Ready For Tech To Step Up I...,723,10/26/15 12:40,Greater Washington DC,Atlantic Time (Canada)
20031,male,1.0000,yes,1.0000,11/22/11 22:41,NaN,25,male,0084B4,tik_L_my_pik_L,0,C0DEED,Bun B saving kids and Ribs!!!...Not all heroes...,590,10/26/15 13:19,Houston,NaN
20032,male,1.0000,yes,1.0000,5/15/09 20:04,Amicable IT person. Self indulgent writer. Som...,2651,male,0084B4,FauxBen,0,C0DEED,@legobutts you can do quests and kill stuff wh...,14165,10/26/15 13:20,NaN,Quito
20033,female,0.8431,yes,1.0000,2/8/15 17:50,cis (she/her)/18/volleyball enthusiast/ i art ...,4351,female,B7EEE4,norainacad,0,0,i finally read blood of olympus and now that m...,5284,10/26/15 13:20,brazil,NaN
20034,brand,1.0000,yes,1.0000,7/21/11 11:30,Where Raleigh's dynamic leaders come to connec...,192,brand,4A913C,CityClubRaleigh,0,C0DEED,View the Community Halloween Spooktacular @Cit...,2851,10/26/15 12:40,Raleigh NC,Eastern Time (US & Canada)
20035,female,1.0000,yes,1.0000,5/14/10 9:44,25. love my friends & family. the color pink. ...,436,female,B40B43,Cait89lovesTWD,0,FFFFFF,Beetlejuice is the perfect Halloween movie!!!!...,7004,10/26/15 12:39,"Raleigh, North Carolina",Atlantic Time (Canada)
20036,female,0.9622,yes,1.0000,8/2/14 10:19,13 // snapchat: sianfreya.xÏ¬ @caitlin_zz_...,34710,female,0084B4,sianfreyaxo,0,C0DEED,@ItsLeeHinchy #LeesQANDA what's the story in b...,3094,10/26/15 12:40,Yorkshire,NaN
20037,male,1.0000,yes,1.0000,11/27/07 13:10,"Typographer and typographic consultant, co-fou...",1762,male,990000,NickSherman,0,FFFFFF,@TrentWalton @oguzbilgic Spell it out in all-c...,9092,10/26/15 13:19,"Brooklyn, NY",Eastern Time (US & Canada)
20038,brand,0.8397,yes,1.0000,1/16/12 21:21,The FUN site for Animal Lovers - Get the lates...,0,brand,0084B4,PetsLady,0,C0DEED,Jon Stewart's Animal Sanctuary And Educational...,7083,10/26/15 13:19,NaN,NaN
20039,female,1.0000,yes,1.0000,2/21/12 18:36,You can find me where the wild things are,281,female,0084B4,KaitlynAmendola,0,C0DEED,Especially when all you do is the best you can...,2034,10/26/15 12:39,NaN,NaN
20040,male,0.8472,yes,1.0000,8/16/13 14:48,Houston Chronicle Columnist - ken.hoffman@chr...,50,male,DD2E44,KenChronicle,0,0,Discovered it in England. It's how they eat fi...,3084,10/26/15 13:19,"Houston, Texas",Central Time (US & Canada)
20041,brand,1.0000,yes,1.0000,8/11/11 10:01,"When families go through divorce, it's helpful...",2,brand,0084B4,MommyandDaddyar,0,C0DEED,For Stan and Lisa... has #Coffee Cup at https:...,105864,10/26/15 13:19,Colorado,Mountain Time (US & Canada)
20042,brand,0.6364,yes,1.0000,6/8/14 19:07,"Reviews of delectable #food, picturesque #trav...",536,unknown,A30000,HedonistShednst,0,948C75,Best Bloody Mary Brunch at the #NYCWFF @nyceff...,5900,10/26/15 12:40,"Miami, FL",Eastern Time (US & Canada)
20043,male,1.0000,yes,1.0000,9/27/11 0:19,"Head Chef, Chez Bruce. Loves Cars and Bicycles...",3879,male,0099B9,MattChristmas1,1,5ED4DC,"Game faggot and venison loin, crisp spelt and ...",8193,10/26/15 13:19,Chertsey Bridge,NaN
20044,female,1.0000,yes,1.0000,6/11/14 1:55,I Love Me...Myself....&....I,632,female,0084B4,Bigbootyyjudy_,0,C0DEED,Need A Ride Home From Practice _Ù÷Ô_Ù÷Ô_Ù÷ÔAnd...,6669,10/26/15 13:19,NaN,NaN
20045,female,1.0000,yes,1.0000,8/5/15 21:16,(rp),302,female,0084B4,capuletrosa,0,C0DEED,"@lookupondeath ...Fine, and I'll drink tea too...",783,10/26/15 13:20,Verona ªÁ,NaN
20046,male,1.0000,yes,1.0000,8/15/12 21:17,"Whatever you like, it's not a problem at all. ...",2513,male,CFB929,BenNight41,0,0,Greg Hardy you a good player and all but don't...,13523,10/26/15 12:40,"Kansas City, MO",NaN
20047,male,1.0000,yes,1.0000,9/3/12 1:17,#TeamBarcelona ..You look lost so you should f...,50,male,0084B4,realuzzyfluxz,0,C0DEED,You can miss people and still never want to se...,26419,10/26/15 13:20,Lagos Nigeria,NaN
20048,female,0.8489,yes,1.0000,11/6/12 23:46,Anti-statist; I homeschool my kids. Aspiring t...,70804,female,9266CC,argumatronic,0,0,@bitemyapp i had noticed your tendency to pee ...,56073,10/26/15 12:40,Texas Hill Country,NaN
20049,female,1.0000,yes,1.0000,4/14/14 17:22,Teamwork makes the dream work.,3348,female,0084B4,MeganFitz20,0,C0DEED,I think for my APUSH creative project I'm goin...,2922,10/26/15 13:19,NaN,NaN

In [34]:
golden_rdf['gender:confidence'].value_counts()

gender:confidence
1.0000    29
0.9622     2
0.9612     1
0.5762     1
0.6364     1
0.8472     1
0.8397     1
0.8431     1
0.5654     1
0.9618     1
0.5540     1
0.7650     1
0.6059     1
0.9613     1
0.8796     1
0.9636     1
0.8458     1
0.8503     1
0.7538     1
0.6408     1
0.8489     1
Name: count, dtype: int64

In [35]:
golden_rdf[['profile_yn', 'profile_yn:confidence']].value_counts()

profile_yn  profile_yn:confidence
yes         1.0000                   48
            0.9612                    1
            0.9636                    1
Name: count, dtype: int64

In [38]:
golden_rdf[['retweet_count', 'tweet_count', 'fav_number']].describe()

       retweet_count    tweet_count    fav_number
count      50.000000      50.000000     50.000000
mean        0.040000   16330.400000   5332.200000
std         0.197949   23218.289663  13520.539094
min         0.000000       5.000000      0.000000
25%         0.000000    2471.000000     50.000000
50%         0.000000    6836.500000    368.500000
75%         0.000000   18450.250000   3277.500000
max         1.000000  105864.000000  70804.000000

In [39]:
golden_rdf.to_csv('./data/twitter_golden_user_data.csv')